/*{
border:red solid 2px;



}*/
body{
    height: 2000px;
    text-align: center;
    justify-content: center;
}




.head{
    display: flex;
    flex-direction: column;
justify-content: space-between;
height: 500px;
background-color: #1f2937;
color: white;



}
.upper{
display: flex;
flex-direction: row;
justify-content: space-between;
    
    
}
.right-links{
display:flex; 
gap: 15px;
margin-right: 10rem;
height: max-content;

}
.logo{
    font-size: x-large;
    font-weight: bold;
    margin-left: 10rem;
    height: max-content;
}
.head-content{
    align-self: center;
margin:50px;
display: flex;



}
.linning-head{
display: flex;





}


.main-head{
font-weight: bolder;
font-size: xx-large;



}
.head-button{
    background-color: #3882f6;
    height: max-content;
    width :max-content;
    font-size: x-large;

}
  .first-part{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: auto;

  }
  .first-part-content{
    width: 100%;




  }


  .boxes{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
   
  } 


.box{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: #3882f6 solid 2px;

}
.box img{
width: 250px;
height:225px;

}
.box .p{
  display: flex;
    align-self: flex-end;
    margin-top: 20px;
    flex-wrap: wrap;

    

}
.box.img {
  height: 225px;


}
